/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
  display: block;
  margin: 0 auto;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
body {
  background-color: #330ede;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
}

.container {
  background-color: #fff;
  max-width: 100%;
  width: 60%;
  height: auto;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 12px 12px 2px 1px rgba(68, 68, 172, 0.2);
  overflow: auto;
}

h3 {
  margin: 20px;
  opacity: 0.5;
  letter-spacing: 2px;
}

.quote {
  margin: 30px auto;
  font-size: 26px;
  letter-spacing: 1px;
  line-height: 40px;
  max-width: 600px;
  text-align: center;
}

.btn {
  background-color: #330ede;
  color: #fdc585;
  margin: 15px;
  padding: 15px 40px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px 1px rgba(68, 68, 172, 0.2);
  border: 0;
  font-size: 16px;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.hidden {
  display: none;
}

.jepBlock {
  background-color: #330ede;
  color: #fdc585;
  padding: 3px 10px;
  border: solid black 3px;
  width: 200px;
  text-align: center;
}

#cat,
#answerEl {
  color: #fff;
}

#answerEl {
  font-weight: bold;
  border: none;
}

@media (max-width: 480px) {
  .container {
    width: 90%;
  }
}

